html,body {
    background-color: black;
    color: #fff;
    font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    
     height: 100%;
    margin: 0;
    padding: 0;
}
.top-left {
    float: left;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 10px;
}
#Date {
    float: left;
    font-size: 30px;
    
}
.top-right {
    float: right;
    font-size: 40px;
    max-width:130px;
    padding-top: 10px;
    
}
#daySummary {
    float: right;
    font-size: 10px;
   
}
.bottom{
  position:fixed;
  width:100%;
  height:40px;
  padding:10px;
  padding-bottom: 40px;
  bottom:20px;
  text-align: center;
  font-size: 30px;
}
#news{
  padding-bottom: 50px;
  font-size: 20px;
}

.center {
    position:absolute;
    left:50%;
    top:50%;
    width:300px;
    height:300px;
    margin-left:-150px; /* -1/2 width */
    margin-top:-150px; /* -1/2 height */
    /*border-style: solid*/
}
.container {
    position:absolute;
    overflow: hidden;
    left:50%;
    top:50%;
    width:300px;
    height:300px;
    margin-left:-150px; /* -1/2 width */
    margin-top:-150px; /* -1/2 height */
    /*border-style: solid*/
}
#frame{
  width: 300px;
  height: 250px;
  /*border-style: solid*/
}
#desc{
  width: 300px;
  height:50px;
  color:green;
  text-align: center;
  font-weight: bold;
  /*border-style: solid*/
}
.social{
  width: 300px;
  height:200px;
  color:red;
  /*text-align: center;
  font-weight: bold;*/
  border-style: solid;
}
.icons{
  width: 30px;
  height: 200px;
  color: blue;
  /*border-style: solid;*/
  float: right;
}
#FBicon{
  /*border-style: solid;*/
  color:blue;
  width: 30px;
  height:30px;
  /*float: right;*/
}
#emailicon{
  /*border-style: solid;*/
  color: red;
  width: 30px;
  height:30px;
  /*float: right;*/
  
}
#calendaricon{
  /*border-style: solid;*/
  color:green;
  width: 30px;
  height:30px;
  /*float: right;*/
}
#albumArt{
  color: red;
  height: 150px;
  width: 150px;
  border-style: solid;
  float: left;
}
#art{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}