#albumArt
{
	color: red;
	float: left;
	height: 150px;
	width: 150px;
}
#art
{
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
#calendaricon
{
	color: green;
	height: 30px;
	width: 30px;
}
#Date
{
	float: left;
	font-size: 30px;
}
#daySummary
{
	float: right;
	font-size: 10px;
}
#desc
{
	color: green;
	font-weight: bold;
	height: 50px;
	text-align: center;
	width: 300px;
	font-size: 25px;
}
#emailicon
{
	color: red;
	height: 30px;
	width: 30px;
}
#FBicon
{
	color: blue;
	height: 30px;
	width: 30px;
}
#frame
{
	height: 250px;
	width: 300px;
}
#news
{
	font-size: 20px;
	padding-bottom: 50px;
}
.bottom
{
	bottom: 20px;
	font-size: 30px;
	height: 40px;
	padding: 10px;
	padding-bottom: 40px;
	position: fixed;
	text-align: center;
	width: 100%;
}
.center
{
	height: 300px;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	position: absolute;
	top: 50%;
	width: 300px;
}
.container
{
	height: 300px;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 300px;
}
/*.icons
{
	color: blue;
	float: right;
	height: 200px;
	width: 30px;
    border-style: solid;
}
.datalist
{
	color: blue;
	float: left;
	height: 200px;
	width: 270px;
    border-style: solid;
}*/
.eventName
{
	float: left;
	white-space: nowrap;
}
.eventDate
{
	float: right;


}
p {
    white-space: nowrap;
}
#social
{
	/*border-style: solid;*/
	color: red;
	height: 200px;
	width: 300px;
	overflow: visible !important;
}

.top-left
{
	float: left;
	font-size: 40px;
	padding-left: 10px;
	padding-top: 10px;
}
.top-right
{
	float: right;
	font-size: 40px;
	max-width: 130px;
	padding-top: 10px;
}
html,body
{
	background-color: black;
	color: #fff;
	font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}